#contact {
  background-color: #111;
  color: #fff;
  padding-top: 20px;
}
.Container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
}
.details {
  margin: 10px 50px;
}
.form {
  margin: 10px 50px;
  padding: 20px 40px 20px 10px;
  background-color: #fff;
  width: 300px;
}
.title {
  color: #000;
  text-align: center;
}
.box {
  display: flex;
  padding: 20px;
}
.field {
  padding: 10px;
}
.contact__title {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
label {
  color: #333;
  font-size: 12px;
  padding-left: 10px;
}
footer {
  text-align: center;
  padding: 15px;
  background-color: #000;
}
.my_image {
  background-image: url("./image/me.jpg");
  min-width: 150px;
  min-height: 150px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  padding: 50px;
  margin-left: 30px;
}
.text h3 {
  color: #ee204d;
}
@media only screen and (max-width: 1000px) {
  .Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .my-button {
    display: block;
  }
  .ui-button {
    display: none;
  }
}
@media only screen and (max-width: 450px) {
  .form {
    width: 200px;
  }
}
